# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:7.10
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install
      - run: yarn lint
      - run: yarn test-coverage

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - setup_remote_docker:
          docker_layer_caching: true

      - run: docker build -t g2pdes/timeline-b:latest .
      - run: docker tag g2pdes/timeline-b:latest registry.heroku.com/$HEROKU_APP_NAME_BACKEND/web
      - run: docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run: docker push g2pdes/timeline-b:latest
      - run: docker login -u $HEROKU_USERNAME -p $HEROKU_PASSWORD registry.heroku.com
      - run: docker push registry.heroku.com/$HEROKU_APP_NAME_BACKEND/web
      - run: wget -qO- https://toolbelt.heroku.com/install.sh | sh    
      - run: heroku container:release web --app $HEROKU_APP_NAME_BACKEND
  